/*white smoke #f4f4f9*/

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  background: black
}



/* Navbar  */

.navbar {
  background: rgb(8, 1, 20);
  padding: 10px 20px !important;
  transition: padding 2s ease;
}

.navbar-background {
  padding: 2px 20px !important
}



.navbar-toggler {
  border: 3px solid aqua;
  padding: 3px;

}


.bar1,
.bar2,
.bar3 {
  width: 23px;
  height: 3px;
  margin: 5px;
  background: aqua;
  transition: all 0.5s ease;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-5px, -8px);
}

.nav-link {
  color: #f1fffa;
  font-size: 15px;
  padding: 10px 20px !important;
  border-radius: 5px;
  /* transition: background 2s ease; */
}

.nav-link:hover {
  background: rgb(4, 197, 197);
  color: #0f0329;
}

/*Banner */

.item-1,
.item-2,
.item-3 {
  min-height: 90vh;
  clip-path: polygon(0);

}


.item-1 {
  background: linear-gradient(to right, rgb(10, 8, 36), transparent), url(img/banner-1.jpeg)center/cover fixed no-repeat;
}

.item-2 {
  background: linear-gradient(to right, transparent, transparent), url(img/banner-2.jpeg)center/cover fixed no-repeat;
}

.item-3 {
  background: linear-gradient(to right, rgb(10, 10, 10), rgba(119, 115, 115, 0.575)), url(img/banner-3.jpeg) center/cover fixed no-repeat;
}

.no-padding {
  padding: 0;
}

/* Title  */

.title h2 {
  color: black;
}

.title-underline {
  height: 5px;
  width: 250px;
  background: rgb(4, 197, 197);
  margin: -28px auto 0 auto;
}

.title a {
  color: rgb(4, 197, 197);
  font-size: 30px;
  padding: 0px 10px;
  display: inline-block;
  background: rgb(8, 1, 20);

}

/* Skills */

.skills-icon {
  background: rgb(9, 70, 70);
  clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);
  transition: all 1s ease;

}

.hi {
  background: rgb(10, 6, 17);

}

.skills-icon:hover {
  background: yellow;
}


.skills-icon span {
  font-size: 80px;
  color: white;
  transition: all 1s ease-in-out;
}

.skills-icon:hover span {
  color: black;
}

/* About */

#about .title a {
  background: black
}


#about {
  min-height: 40vh;
  background: black
}



.about-progress {
  min-height: 50vh;
  background: url(img/video-filler.jpeg)center/cover fixed no-repeat;
  outline: 5px solid rgb(9, 70, 70);
  outline-offset: 10px;
}


.progress-bar {
  background: rgb(9, 70, 70);

}

/* Project */

#projects button {
  background: rgb(9, 70, 70);
  color: white;
}

#projects button:hover {
  background: rgb(4, 197, 197);
  color: black;
}

.img-container {
  position: relative;
  overflow: hidden;
  background: linear-gradient(rgb(9, 70, 70), rgb(9, 70, 70));
}

.img-container img {
  transition: all 2s ease-in-out;
  opacity: 1;
}

.img-container:hover .project-image {
  opacity: 0.3;
  transform: scale(1.3);
}

.search-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: yellow;
  transition: margin 2s ease-in-out, color 0.5s ease-in-out, opacity 0.75s ease-in-out;
  margin-top: -50%;
  opacity: 0;
}

.search-link:hover {
  color: #242424;
}

.img-container:hover .search-link {
  margin-top: 0;
  opacity: 1;

}


.inner-form {
  background-color: rgb(233, 234, 255);
}


/* value */

.value {
  position: relative
}

.value-icon {
  font-size: 20px;
  color: black;
  background: rgb(19, 182, 182);
  padding: 25px 35px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  transition: all 2s ease;

}

.value-number {
  padding: 15px;
  background: rgba(220, 220, 35, 0.784);
  position: absolute;
  border-radius: 50%;
  display: inline-block;
  font-size: 15px;
  top: -12%;
  left: 57%;
  transition: all 2s ease;
  color: black;
}

.value:hover .value-icon {
  background: rgba(220, 220, 35, 0.784);
  transform: scale(1.2);
}

.value:hover .value-number {
  background: aqua;
  color: black;
  transform: scale(0.9);
}

.value {
  background-color: rgb(10, 6, 17);
}


/* Contact Section */

.height-60 {
  min-height: 80vh;
}

#contact {
  background: black;
}


#contact .card {
  background: rgb(2, 2, 32);
  transition: all 2s ease;
}

#contact .card:hover {
  background: rgb(0, 0, 0);
}

#contact .card-header {
  color: aqua;
}

#contact .input-group-text {
  background: rgb(14, 14, 15);
  border-color: aqua;
  color: aqua
}

#contact .card input {
  color: #0c0a0a;
}

#contact .card input::placeholder {
  color: #606060;
}

.contact-btn {
  color: aqua;
  background: black;
  transition: all 2s ease-in-out;
}

.contact-btn:hover {
  background: transparent;
  border-color: white;

}

/* Footer */

footer {
  background: rgb(8, 1, 20);
}

.footer-icons a {
  color: aqua;
  font-size: 30px;
  transition: color 1s ease;

}

.footer-icons a:hover {
  color: yellow;
}

footer h5 {
  color: rgb(141, 124, 124);
  font-size: 12px;

}

#align {
  text-align: justify;
}

.font {
  color: aqua;
}

.front2 {
  color: rgb(134, 226, 198);
}

.front3 {
  color: aqua;
}

.front4 {
  color: aqua;
}

.front4 {
  color: aqua;
}

.front5 {
  color: aqua;
  ;
}

#align {
  text-align: justify;
}

.iconify {
  width: 95px;
  height: 95px;
}

.iconify {
  color: rgb(255, 255, 255);
}


/* ----------------Additional Code------------ */

contact .info-box {
  color: white;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
}

.contact .info-box i.bx {
  font-size: 24px;
  color: #ffb727;
  border-radius: 50%;
  padding: 15px;
  background: white;
}

.contact .info-box h3 {
  font-size: 20px;
  color: white;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .social-links {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.contact .social-links a {
  font-size: 18px;
  display: inline-block;
  color: white;
  line-height: 1;
  margin: 0 8px;
  transition: 0.3s;
  padding: 14px;
  border-radius: 50px;
  border: 1px solid #dde1e4;
}

.contact .social-links a:hover {
  color: #fff;
  border-color: #ffb727;
  background: #ffb727;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.btn-outline-info:hover {
  color: black;
}